<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>
<div th:replace="fragments.html :: studyBanner"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2><a th:href="@{'/study/'+${study.path}}"><span th:text="${study.title}">스터디</span></a>/모임 정보</h2>
    </div>
    <div class="row col-9 justify-content-center py-3">
        <table class="table table-hover">
            <thead>
            <!--            <tr>-->
            <!--                <th scope="col" colspan="2"></th>-->
            <!--            </tr>-->
            </thead>
            <tbody>
            <tr>
                <td>모집명</td>
                <td th:text="${event.title}">모집명</td>
            </tr>
            <tr>
                <td>모집 방법</td>
                <td th:if="${event.eventType == T(com.studyolle.domain.EventType).FCFS}">선착순</td>
                <td th:if="${event.eventType == T(com.studyolle.domain.EventType).CONFIRMATIVE}">관리자 확인</td>
            </tr>
            <tr>
                <td>모집인원</td>
                <td th:text="${event.limitOfEnrollments}">모집인원</td>
            </tr>
            <tr>
                <td>모집 마감일</td>
                <td class="date" th:text="${event.endEnrollmentDateTime}">모집 마감일</td>
            </tr>
            <tr>
                <td>모임 시작일</td>
                <td class="date" th:text="${event.startDateTime}">모집 마감일</td>
            </tr>
            <tr>
                <td>모임 종료일</td>
                <td class="date" th:text="${event.endDateTime}">모임 종료일</td>
            </tr>
            <tr>
                <!--<td colspan="2">Larry the Bird</td>-->
                <td>모집한 사람</td>
                <td>
                    <a th:href="@{'/profile/'+${event.createBy.nickname}}" class="text-decoration-nons">
                        <svg th:if="${#strings.isEmpty(event.createBy?.profileImg)}"
                             th:data-jdenticon-value="${event.createBy.nickname}" width="24" height="24"
                             class="rounded border bg-light"/>
                        <img th:if="${!#strings.isEmpty(event.createBy.profileImg)}"
                             th:src="${event.createBy.profileImg}" width="24" height="24"
                             class="rounded border"/>
                        </svg>
                    </a>
                    <span th:text="${event.createBy.nickname}"></span>
                </td>
            </tr>

            <tr class="text-center" th:if="${study.isManager(#authentication.principal)}">
                <td colspan="2" >
                    <button type="button" class="btn btn-primary btn-sm" th:href="@{'/study/'+${study.path}+'/events/'+${event.id}+'/edit'}">모집 수정</button>
                </td>
            </tr>
            <tr class="text-center" th:if="${study.isManager(#authentication.principal)}">
                <td colspan="2" >
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cencel">
                        모집 취소
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="cencel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" th:text="${event.title}">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    모집을 취소합니다.
                                </div>
                                <div class="modal-footer">
                                    <form th:action="@{'/study/' + ${study.path} + '/events/'+${event.id}}" method="delete" >
                                        <button type="button" class="btn btn-primary">모집 취소</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<div th:replace="fragments.html :: form-validation"></div>
<script th:replace="fragments.html :: editor-script"></script>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
<script>
    $(function(){
        moment.locale('ko');
        $(".date").text(function(index, dateTime){
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
        });

    });

</script>
</body>
</html>