<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>
<div th:replace="fragments.html :: studyBanner"></div>
<div class="alert alert-warning" role="alert" th:if="${message != null}" th:text="${message}">
</div>
<div role="main" class="container">
    <div class="py-5 text-center">
        <h2><a th:href="@{'/study/'+${study.path}}"><span th:text="${study.title}">스터디</span></a>/모임 정보</h2>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm" th:if="${event.isEndEnrollmentDateTime()}">
        모임에 모집 마감일(<span class="text-danger date" th:text="${event.endEnrollmentDateTime}"></span>)이 지난 모임입니다.
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm" th:if="${!event.isEndEnrollmentDateTime()}">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop"
                th:if="${!#lists.contains(nickNameList, account.nickname)}">모임 참가 신청
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#disenrollModal"
                th:if="${#lists.contains(nickNameList, account.nickname)}">모임 취소
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">모임 참가 신청</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        해당 모임에 참여하시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <form method="post" th:action="@{'/study/'+${study.path}+'/events/'+${event.id}+'/enroll'}">
                            <button type="submit" class="btn btn-primary">참여하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="disenrollModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="disenrollModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="disenrollModalLabel">모임 참석 취소</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        해당 모임에 참여를 취소하시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <form method="post" th:action="@{'/study/'+${study.path}+'/events/'+${event.id}+'/disenroll'}">
                            <button type="submit" class="btn btn-primary">취소하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3>모임 정보</h3>
        <div class="row mx-auto col-12 justify-content-center py-3">
            <table class="table table-hover">
                <thead>
                <!--            <tr>-->
                <!--                <th scope="col" colspan="2"></th>-->
                <!--            </tr>-->
                </thead>
                <tbody>
                <tr>
                    <td>모집명</td>
                    <td th:text="${event.title}">모집명</td>
                </tr>
                <tr>
                    <td>모집 방법</td>
                    <td th:if="${#strings.equals(event.eventType, 'FCFS')}">선착순</td>
                    <td th:if="${#strings.equals(event.eventType, 'CONFIRMATIVE')}">관리자 확인</td>
                </tr>
                <tr>
                    <td>모집인원</td>
                    <td><span th:text="${event.enrollments.size()}"></span>/<span th:text="${event.limitOfEnrollments}">3</span>
                    </td>
                </tr>
                <tr>
                    <td>모집 마감일</td>
                    <td class="date" th:text="${event.endEnrollmentDateTime}">모집 마감일</td>
                </tr>
                <tr>
                    <td>모임 일시</td>
                    <td><span class="date" th:text="${event.startDateTime}"></span> ~ <span class="date"
                                                                                            th:text="${event.endDateTime}"></span>
                    </td>
                </tr>
                <tr>
                    <!--<td colspan="2">Larry the Bird</td>-->
                    <td>모집한 사람</td>
                    <td>
                        <a th:href="@{'/profile/'+${event.createBy.nickname}}" class="text-decoration-nons">
                            <svg th:if="${#strings.isEmpty(event.createBy?.profileImg)}"
                                 th:data-jdenticon-value="${event.createBy.nickname}" width="24" height="24"
                                 class="rounded border bg-light"/>
                            <img th:if="${!#strings.isEmpty(event.createBy.profileImg)}"
                                 th:src="${event.createBy.profileImg}" width="24" height="24"
                                 class="rounded border"/>
                            </svg>
                        </a>
                        <span th:text="${event.createBy.nickname}"></span>
                    </td>
                </tr>

                <tr class="text-center" th:if="${study.isManager(#authentication.principal)}">
                    <td colspan="2" th:if="${!event.isClosed()}">
                        <a class="btn btn-primary" href="#" role="button"
                           th:href="@{'/study/'+${study.path}+'/events/'+${event.id}+'/edit'}">모집 수정</a>
                    </td>
                    <td colspan="2" th:if="${event.isClosed()}">
                        <a class="btn btn-secondary btn-lg disabled" tabindex="-1" href="#" role="button">모집 수정</a>
                    </td>
                </tr>
                <tr class="text-center" th:if="${study.isManager(#authentication.principal)}">
                    <td colspan="2" th:if="${!event.isClosed()}">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cencel">
                            모집 취소
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="cencel" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" th:text="${event.title}">Modal
                                            title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        모집을 취소합니다.
                                    </div>
                                    <div class="modal-footer">
                                        <form th:action="@{'/study/' + ${study.path} + '/events/'+${event.id}+'/remove'}"
                                              method="post">
                                            <button type="submit" class="btn btn-danger">모집 취소</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" th:if="${event.isClosed()}">
                        <a class="btn btn-secondary btn-lg disabled" tabindex="-1" href="#" role="button">모집 취소</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3>모임 참가자 명단</h3>
        <div>
            <table class="table" th:if="${!study.isManager(#authentication.principal)}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">참가자</th>
                    <th scope="col">참가 상태</th>
                    <th scope="col">출석 체크</th>
                </tr>
                </thead>
                <tbody th:each="enrollment, stat : ${enrollments}">
                <tr>
                    <th scope="row" th:text="${stat.index + 1}">1</th>
                    <td><a th:text="${enrollment.account.nickname}"
                           th:href="@{'/profile/'+${enrollment.account.nickname}}"></a></td>
                    <td th:if="${enrollment.accepted}"><span class="badge badge-success">참가 승인</span></td>
                    <td th:if="${!enrollment.accepted}"><span class="badge badge-danger">승인 대기</span></td>
                    <td th:if="${enrollment.attend}"><span class="badge badge-success">출석</span></td>
                    <td th:if="${!enrollment.attend}"><span class="badge badge-danger">불참석</span></td>
                </tr>
                </tbody>
            </table>
            <table class="table" th:if="${study.isManager(#authentication.principal)}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">참가자</th>
                    <th scope="col">참가 신청 일시</th>
                    <th scope="col">참가 상태</th>
                    <th scope="col">참가 신청 관리</th>
                    <th scope="col">출석 체크</th>
                </tr>
                </thead>
                <tbody th:each="enrollment, stat : ${enrollments}">
                <tr>
                    <th scope="row" th:text="${stat.index + 1}">1</th>
                    <td><a th:text="${enrollment.account.nickname}"
                           th:href="@{'/profile/'+${enrollment.account.nickname}}"></a></td>
                    <td th:text="${enrollment.enrolledAt}" class="date">접수일자</td>
                    <td th:if="${!enrollment.accepted}"><span class="badge badge-danger">승인 대기</span></td>
                    <td th:if="${enrollment.accepted}"><span class="badge badge-success">승인</span></td>
                    <td >
                        <a th:if="${!enrollment.accepted}" href="" th:onclick="|javascript:approveEnrollment('${event.id}','${enrollment.id}')|">신청 수락</a>
                        <a th:if="${enrollment.accepted}" href="" th:onclick="|javascript:cancelEnrollment('${event.id}','${enrollment.id}')|">취소</a>
                    </td>
                    <td th:if="${enrollment.accepted}">
                        <a th:if="${!enrollment.attend}" th:href="@{'/study/'+${study.path}+'/events/'+${event.id}+'/enrollments/'+${enrollment.id}+'/checkin'}">출석 체크하기</a>
                        <a th:if="${enrollment.attend}" th:href="@{'/study/'+${study.path}+'/events/'+${event.id}+'/enrollments/'+${enrollment.id}+'/checkout'}">출석 취소하기</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="fragments.html :: footer"></div>
</div>
<div th:replace="fragments.html :: form-validation"></div>
<script th:replace="fragments.html :: editor-script"></script>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
<script>
    $(function(){
        moment.locale('ko');
        $(".date").text(function(index, dateTime){
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
        });
    });
</script>
<script type="application/javascript" th:inline="javascript">
    $(function () {
        var token = /*[[${_csrf.token}]]*/ null;
        var header = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
        });
    });
    </script>
<script type="application/javascript"  th:inline="javascript">

        function approveEnrollment(id, enrollmentId) {
            path = /*[[${study.path}]]*/ null;
            $.ajax({
                url: "/study/"+path+"/events/" +id+ "/approveEnrollment",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({'id' : enrollmentId})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        function cancelEnrollment(id, enrollmentId) {
            path = /*[[${study.path}]]*/ null;
            $.ajax({
                url : "/study/"+path+"/events/" +id+"/cancelEnrollment",
                method : "POST",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify({'id' : enrollmentId})
            }).done(function (data, status){
                console.log("${data} and status is ${status}");
            });
        }
</script>
</body>
</html>