<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<style>
    .tagify__tag-text{
        font-family:Russo one;
    }




</style>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div th:replace="fragments.html :: studyBanner"></div>
<div class="container">
    <div th:replace="fragments.html :: studyInfo"></div>
    <div th:replace="fragments.html :: study-menu(studyMenu='events')"></div>
    <div class="row pt-4 justify-content-center">
        <div class="col-2">
            <div class="list-group">
                <!--<a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'description'}? active" th:href="@{'/study/'+${study.path}+'/settings/description'}">새모임</a>
                <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'study'}? active" th:href="@{'/study/'+${study.path}+'/settings/study'}">지난 모임</a>
                -->
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        새 모임
                        <span class="badge badge-primary badge-pill"
                              th:text="${#lists.size(newEvents)}">진행 중인 모임 개수</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        지난 모임
                        <span class="badge badge-primary badge-pill"
                              th:text="${#lists.size(oldEvents)}">종료된 모임 개수</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-8 justify-content-center">
            <span class="col-4 accordion" id="accordionExample" th:if="${!#lists.isEmpty(newEvents)}">
                <div th:each="event : ${newEvents}">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a th:href="@{'/study/'+${study.path}+'/events/'+${event.id}}">
                            <h3><span class="mb-0" th:text="${event.title}">Example heading</span> <span class="badge badge-primary" th:if="${#strings.equals(event.eventType,'FCFS')}">선착순</span></h3>
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            모집 인원 : <span th:text="${event.NumOfFixedParticipants()}"></span>/<span
                                th:text="${event.limitOfEnrollments}"></span>
                        </div>
                        <div class="card-body">
                            모임 일시 : <span class="date" th:text="${event.startDateTime}"></span> ~ <span class="date"
                                                                                           th:text="${event.endDateTime}"></span>
                        </div>
                         <div class="card-body">
                            모임 장소 : <span></span>
                        </div>
                    </div>
                </div>
                    </div>
            </span>
            <span class="col-4 accordion" id="accordionExample1" th:if="${!#lists.isEmpty(oldEvents)}">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">모임 이름</th>
                        <th scope="col">모임 종료 일시</th>
                      </tr>
                    </thead>
                    <tbody th:each="event : ${oldEvents}">
                      <tr>
                        <th scope="row" th:text="${eventStat.count}">1</th>
                        <td><a th:text="${event.title}" th:href="@{'/study/'+${study.path}+'/events/'+${event.id}}"></a></td>
                        <td class="date" th:text="${event.endDateTime}">Otto</td>
                      </tr>
                    </tbody>
                </table>
            </span>
        </div>
    </div>
    <footer th:replace="fragments.html :: footer"></footer>
</div>
<script th:replace="fragments.html :: form-validation"></script>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
<script type="application/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

</script>
<script>
    $(function(){
        moment.locale('ko');
        $(".date").text(function(index, dateTime){
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
        });
    });


</script>
</body>
</html>