<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <style>
    .tagify-outside{
        border: 0;
    }

    body,
    input,
    button,
    select,
    optgroup,
    textarea,
    .tooltip,
    .popover {
        font-family: -apple-system, Noto Sans KR, sans-serif;
    }
    </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" th:href="@{/}">
        <img src="/images/study_moim_icon.png" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form class="form-inline" th:action="@{/search/study}" method="get">
                    <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="스터디 찾기"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/sign-up}">가입</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/notifications}">
                    <i th:if="${!hasNotification}" class="fa fa-bell-o"></i>
                    <span class="text-info" th:if="${hasNotification}"><i class="fa fa-bell"></i></span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link btn btn-primary" th:href="@{/new-study}"><i class="fa fa-plus"></i>스터디 만들기</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <svg data-jdenticon-value="user127" th:data-jdenticon-value="${#authentication.name}" width="24"
                         height="24" class="rounded border bg-light"></svg>
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                    <h6 class="dropdown-header">
                        <span sec:authentication="name">Username</span>
                    </h6>
                    <a class="dropdown-item" th:href="@{'/profile/'+${#authentication.name}}">프로필</a>
                    <a class="dropdown-item">스터디</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/settings/profile'}">설정</a>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
</nav>

<footer th:fragment="footer">
    <div class="row justify-content-center">
        <img class="mb-2" src="/images/study_moim_icon.png" width="60">
        <small class="d-black mb-3 text-muted">2020</small>
    </div>
</footer>

<script th:fragment="form-validation">
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();


</script>

<div th:fragment="settings-menu(currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active"
       th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active"
       th:href="@{/settings/password}">비밀번호변경</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'}? active"
       th:href="@{/settings/notifications}">알림</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tag'}? active"
       th:href="@{/settings/tag}">관심 주제</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zone'}? active"
       th:href="@{/settings/zone}">위치</a>
    <a class="list-group-item list-group-item-action list-group-item-danger"
       th:classappend="${currentMenu == 'account'}? active" th:href="@{/settings/account}">계정 설정</a>
</div>

<div th:fragment="study-settings(currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'description'}? active"
       th:href="@{'/study/'+${study.path}+'/settings/description'}">소개</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'banner'}? active"
       th:href="@{'/study/'+${study.path}+'/settings/banner'}">배너 이미지</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active"
       th:href="@{'/study/'+${study.path}+'/settings/tags'}">스터디 주제</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active"
       th:href="@{'/study/'+${study.path}+'/settings/zones'}">활동 지역</a>
    <a class="list-group-item list-group-item-action list-group-item-danger"
       th:classappend="${currentMenu == 'study'}? active" th:href="@{'/study/'+${study.path}+'/settings/study'}">스터디</a>
</div>
<div th:fragment="study-menu(studyMenu)" class="list-group">
    <div class="row px-3 justify-content-center bg-light">
        <nav class="col-10 nav nav-tabs">
            <a class="nav-item nav-link" th:classappend="${studyMenu == 'info'} ? active"
               th:href="@{'/study/' + ${study.path}}">
                <i class="fa fa-info-circle"></i> 소개
            </a>
            <a class="nav-item nav-link" th:classappend="${studyMenu == 'members'} ? active"
               th:href="@{'/study/' + ${study.path} + '/members'}">
                <i class="fa fa-user"></i> 구성원
            </a>
            <a class="nav-item nav-link" th:classappend="${studyMenu == 'events'} ? active"
               th:href="@{'/study/' + ${study.path} + '/events'}">
                <i class="fa fa-user"></i> 모임
            </a>
            <a sec:authorize="isAuthenticated()" th:if="${study.isManager(#authentication.principal)}"
               class="nav-item nav-link" th:classappend="${studyMenu == 'settings'} ? active"
               th:href="@{'/study/' + ${study.path} + '/settings/description'}">
                <i class="fa fa-cog"></i> 설정
            </a>
        </nav>
    </div>
</div>

<div th:fragment="studyBanner" th:if="${study.useBanner}" class="row" id="study-logo">
    <img th:src="${study.image}"/>
</div>

<div th:fragment="studyInfo">
    <div class="row pt-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <a href="#" class="text-decoration-none" th:href="@{'/study/'+${study.path}}">
                <span class="h2" th:text="${study.title}">스터디 이름</span>
            </a>
        </div>
        <div class="col-4 text-right justify-content-end">
                <span th:if="${!study.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip"
                      data-placement="bottom"
                      title="스터디 공개 준비중">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button"
                            disabled>DRAFT</button>
                </span>
            <span th:if="${study.closed}" class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="스터디 종료">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button"
                            disabled>CLOSED</button>
                </span>
            <span th:if="${!study.recruiting}" class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="팀원 모집 종료">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button"
                            disabled>OFF</button>
                </span>
            <span sec:authorize="isAuthenticated()" th:if="${study.isJoinable(#authentication.principal)}"
                  class="btn-group"
                  role="group" aria-label="Basic example">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                    스터디 가입
                </button>
                <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">스터디에 가입 신청</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body text-left">
                            스터디에 가입하시겠습니까?
                          </div>
                          <div class="modal-footer">
                              <form th:action="@{'/study/'+${study.path}+'/join'}" method="post">
                                  <button type="submit" class="btn btn-primary">스터디 가입</button>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-outline-primary" th:href="@{'/study/'+${study.path} + '/members'}"
                       th:text="${study.members.size()}">1</a>
                </span>
            <span sec:authorize="isAuthenticated()"
                  th:if="${!study.isClosed() && study.isMember(#authentication.principal)}" class="btn-group"
                  role="group">
                    <a class="btn btn-outline-warning" th:href="@{'/study/' + ${study.path} + '/leave'}">스터디 탈퇴</a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
                       th:text="${study.members.size()}">1</a>
                </span>
            <span sec:authorize="isAuthenticated()"
                  th:if="${study.published && !study.closed && study.isManager(#authentication.principal)}">
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/new-event'}">
                        <i class="fa fa-plus">모임 만들기</i>
                    </a>
                </span>
        </div>

    </div>
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p class="lead" th:text="${study.shortDescription}"></p>
        </div>
    </div>
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p>
                    <span th:each="tag: ${study.tags}"
                          class="font-weight-light text-monospace badge-pill badge-info mr-3">
                        <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                            <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                        </a>
                    </span>
                <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                        <a th:href="@{'/search/zone/'+${zone.id}}" class="text-decoration-none text-white">
                            <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}">City</span>
                        </a>
                    </span>
            </p>
        </div>
    </div>
</div>

<div th:fragment="study-member-list (members, isManager)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10">
        <li class="media mt-3" th:each="member: ${members}">
            <svg th:if="${#strings.isEmpty(member?.profileImg)}" th:data-jdenticon-value="${member.nickname}" width="64"
                 height="64" class="rounded border bg-light mr-3"></svg>
            <img th:if="${!#strings.isEmpty(member?.profileImg)}" th:src="${member.profileImg}" width="64" height="64"
                 class="rounded border bg-light mr-3"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><span th:text="${member.nickname}"></span><span th:if="${isManager}"
                                                                                      class="badge badge-primary ml-2">관리자</span>
                </h5>
                <span th:text="${member.bio}"></span>
            </div>
        </li>
    </ul>
</div>
<div th:fragment="tag-ajax (baseUrl)">
    <script type="application/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
    </script>

    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" th:inline="javascript">
    $(function () {
        var token = /*[[${_csrf.token}]]*/ null;
        var header = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
        });
    });
    </script>
    <script type="application/javascript">
    $(function() {
        function tagRequest(url, tagTitle) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "[(${baseUrl})]" + url,
                data: JSON.stringify({'tagTitle': tagTitle})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        function onAdd(e) {
            tagRequest("/add", e.detail.data.value);
        }

        function onRemove(e) {
            tagRequest("/remove", e.detail.data.value);
        }

        var tagInput = document.querySelector("#tags");
        var tagify = new Tagify(tagInput, {
            pattern: /^.{0,20}$/,
            whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
            dropdown : {
                enabled: 1, // suggest tags after a single character input
            } // map tags
        });

        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);

        // add a class to Tagify's input element
        tagify.DOM.input.classList.add('form-control');
        // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });



    </script>
</div>

<dvi th:fragment="zone-ajax (baseUrl)">
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" th:inline="javascript">
    $(function () {
        var token = /*[[${_csrf.token}]]*/ null;
        var header = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
        });
    });


    </script>
    <script type="application/javascript">
    $(function() {
        function tagRequest(url, zoneName) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "[(${baseUrl})]" + url,
                    data: JSON.stringify({'zoneName': zoneName})
                }).done(function (data, status) {
                    alert("등록되었습니다.");
                    console.log("${data} and status is ${status}");
                });
        }

        function onAdd(e) {
            tagRequest("/add", e.detail.data.value);
        }

        function onRemove(e) {
            tagRequest("/remove", e.detail.data.value);
        }

        var zoneInput = document.querySelector("#zones");
        var tagify = new Tagify(zoneInput, {
            pattern: /^.{0,50}$/,
            enforceWhitelist: true,
            whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
            dropdown : {
                enabled: 1, // suggest tags after a single character input
            } // map tags
        });

        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);

        // add a class to Tagify's input element
        tagify.DOM.input.classList.add('form-control');
        // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });


    </script>
</dvi>


<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function() {
            $('.editor').summernote({
                fontNames: ['Noto Sans KR', 'Arial', 'Arial Black', 'Comic Sans MS'],
                placeholder: '상세소개 작성',
                tabsize: 2,
                height: 300
            });
        });


    </script>
</div>


<ul th:fragment="notification-list (notifications)" class="list-group list-group-flush">
    <a href="#" th:href="@{${noti.link}}" th:each="noti: ${notifications}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <small class="text-muted" th:text="${noti.title}">Noti title</small>
            <small class="fromNow text-muted" th:text="${noti.createdLocalDateTime}">3 days ago</small>
        </div>
        <p th:text="${noti.message}" class="text-left mb-0 mt-1">message</p>
    </a>
</ul>



<div th:fragment="date-time">
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".weekday").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
</div>
</html>