<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <style>
    .container{
        max-width : 100%;
    }
    .tagify-outside{
        border: 0;
    }

    body,
    input,
    button,
    select,
    optgroup,
    textarea,
    .tooltip,
    .popover {
        font-family: -apple-system, "Noto Sans KR", sans-serif;
    }
    </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" th:href="@{/}">
        <img src="/images/study_moim_icon.png" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form class="form-inline" th:action="@{/search/study}" method="get">
                    <input class="form-control mr-sm-2" type="search" name="search" placeholder="스터디 찾기" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/sign-up}">가입</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/notification}">
                    <i class="fa fa-bell-o"></i>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link btn btn-primary" th:href="@{/new-study}"><i class="fa fa-plus"></i>스터디 만들기</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg data-jdenticon-value="user127" th:data-jdenticon-value="${#authentication.name}" width="24" height="24" class="rounded border bg-light"></svg>
                </a>
                    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header">
                            <span sec:authentication="name">Username</span>
                        </h6>
                        <a class="dropdown-item"  th:href="@{'/profile/'+${#authentication.name}}">프로필</a>
                        <a class="dropdown-item" >스터디</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/settings/profile'}">설정</a>
                        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">logout</button>
                        </form>
                    </div>
            </li>
        </ul>
    </div>
</nav>
</nav>

<footer th:fragment="footer">
    <div class="row justify-content-center">
        <img class="mb-2" src="/images/study_moim_icon.png" width="60">
        <small class="d-black mb-3 text-muted">2020</small>
    </div>
</footer>

<script th:fragment="form-validation">
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<div th:fragment="settings-menu(currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" th:href="@{/settings/password}">비밀번호변경</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'}? active" th:href="@{/settings/notifications}">알림</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tag'}? active" th:href="@{/settings/tag}">관심 주제</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zone'}? active" th:href="@{/settings/zone}">위치</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active" th:href="@{/settings/account}">계정 설정</a>
</div>

<div th:fragment="study-settings(currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'description'}? active" th:href="@{'/study/'+${study.path}+/settings/description'}">소개</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'banner'}? active" th:href="@{'/study/'+${study.path}+'/settings/banner'}">배너 이미지</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active" th:href="@{'/study/'+${study.path}+'/settings/tags'}">스터디 주제</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active" th:href="@{'/study/'+${study.path}+'/settings/zones'}">활동 지역</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'study'}? active" th:href="@{'/study/'+${study.path}+'/settings/study'}">스터</a>
</div>
<div th:fragment="study-menu(studyMenu)" class="list-group">
    <div class="row px-3 justify-content-center bg-light">
        <nav class="col-10 nav nav-tabs">
            <a class="nav-item nav-link" th:classappend="${studyMenu == 'info'} ? active" th:href="@{'/study/' + ${study.path}}">
                <i class="fa fa-info-circle"></i> 소개
            </a>
            <a class="nav-item nav-link" th:classappend="${studyMenu == 'members'} ? active" th:href="@{'/study/' + ${study.path} + '/members'}">
                <i class="fa fa-user"></i> 구성원
            </a>
            <a class="nav-item nav-link" th:classappend="${studyMenu == 'events'} ? active" th:href="@{'/study/' + ${study.path} + '/events'}">
                <i class="fa fa-user"></i> 모임
            </a>
            <a sec:authorize="isAuthenticated()" th:if="${study.isManager(#authentication.principal)}"
               class="nav-item nav-link" th:classappend="${studyMenu == 'setting'}" th:href="@{'/study/' + ${study.path} + '/settings/description'}">
                <i class="fa fa-cog"></i> 설정
            </a>
        </nav>
    </div>
</div>

<div th:fragment="studyBanner" th:if="${study.useBanner}" class="row" id="study-logo">
    <img th:src="${study.image}"/>
</div>

<div th:fragment="studyInfo">
    <div class="row pt-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <a href="#" class="text-decoration-none" th:href="@{'/study/'+${study.path}}">
                <span class="h2" th:text="${study.title}">스터디 이름</span>
            </a>
        </div>
        <div class="col-4 text-right justify-content-end">
                <span th:if="${!study.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                      title="스터디 공개 준비중">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>DRAFT</button>
                </span>
            <span th:if="${study.closed}" class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="스터디 종료">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>CLOSED</button>
                </span>
            <span th:if="${!study.recruiting}" class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="팀원 모집 종료">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>OFF</button>
                </span>
            <span sec:authorize="isAuthenticated()" th:if="${study.isJoinable(#authentication.principal)}" class="btn-group"
                  role="group" aria-label="Basic example">
                    <a class="btn btn-primary" th:href="@{'/study/'+${study.path} + '/join'}">스터디 가입</a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/'+${study.path} + '/members'" th:text="${study.members.size()}">1</a>
                </span>
            <span sec:authorize="isAuthenticated()" th:if="${!study.isClosed() && study.isMember(#authentication.principal)}" class="btn-group" role="group">
                    <a class="btn btn-outline-warning" th:href="@{'/study/' + ${study.path} + '/leave'}">스터디 탈퇴</a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}" th:text="${study.members.size()}">1</a>
                </span>
            <span sec:authorize="isAuthenticated()" th:if="${study.published && !study.closed && study.isManager(#authentication.principal)}">
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/new-event'}">
                        <i class="fa fa-plus">모임 만들기</i>
                    </a>
                </span>
        </div>

    </div>
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p class="lead" th:text="${study.shortDescription}"></p>
        </div>
    </div>
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p>
                    <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge-pill badge-info mr-3">
                        <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                            <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                        </a>
                    </span>
                <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                        <a th:href="@{'/search/zone/'+${zone.id}}" class="text-decoration-none text-white">
                            <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}">City</span>
                        </a>
                    </span>
            </p>
        </div>
    </div>
</div>

<div th:fragment="study-member-list (members, isManager)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10">
        <li class="media mt-3" th:each="member: ${members}">
            <svg th:if="${#strings.isEmpty(member?.profileImg)}" th:data-jdenticon-value="${member.nickname}" width="64" height="64" class="rounded border bg-light mr-3"></svg>
            <img th:if="${!#strings.isEmpty(member?.profileImg)}" th:src="${member.profileImg}" width="64" height="64" class="rounded border bg-light mr-3"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><span th:text="${member.nickname}"></span><span th:if="${isManager}" class="badge badge-primary ml-2">관리자</span></h5>
                <span th:text="${member.bio}"></span>
            </div>
        </li>
    </ul>
</div>
<div th:fragment="profile">
<div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    <span th:text="${message}">메시지</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row">
    <h2 class="col-sm-12" th:text="${account.nickname}">whiteship</h2>
</div>
<div class="row mt-3">
    <form class="col-sm-6" th:action="@{/settings/profile}" th:object="${profileForm}" method="post" novalidate>
        <div class="form-group">
            <label for="bio">한 줄 소개</label>
            <input type="text" id="bio" th:field="*{bio}" class="form-control"
                   placeholder="간략한 소개를 부탁합니다." aria-describedby="bioHelp" required>
            <small id="bioHelp" class="form-text text-muted">
                길지 않게 35자 이내로 입력하세요.
            </small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">
                조금 길어요.
            </small>
        </div>
        <div class="form-group">
            <label for="personalUrl">링크</label>
            <input type="url" id="personalUrl" th:field="*{personalUrl}" class="form-control"
                   placeholder="http://studyolle.com" aria-describedby="personalUrlHelp" required>
            <small id="personalUrlHelp" class="form-text text-muted">
                블로그, 유튜브 또는 포트폴리오나 좋아하는 웹 사이트 등 본인을 표현할 수 있는 링크를 추가하세요.
            </small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('personalUrl')}" th:errors="*{personalUrl}">
                정상적인 URL이 아닙니다. 예시처럼 입력해 주세요.
            </small>
        </div>
        <div class="form-group">
            <label for="company">직업</label>
            <input type="text" id="company" th:field="*{occupation}" class="form-control"
                   placeholder="어떤 일을 하고 계신가요?" aria-describedby="occupationHelp" required>
            <small id="occupationHelp" class="form-text text-muted">
                개발자? 매니저? 취준생? 대표님?
            </small>
        </div>
        <div class="form-group">
            <label for="livingArea">활동 지역</label>
            <input type="text" id="livingArea" th:field="*{livingArea}" class="form-control"
                   placeholder="전주시"
                   aria-describedby="livingAreaHelp" required>
            <small id="livingAreaHelp" class="form-text text-muted">
                주요 활동(사는 곳이나 직장을 다니는 곳 또는 놀러 다니는 곳) 지역의 도시 이름을 알려주세요.
            </small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" aria-describedby="submitHelp">수정하기</button>
        </div>
    </form>
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-header">프로필 이미지</div>
            <div id="current-profile-image" class="mt-3">
                <svg th:if="${#strings.isEmpty(account.profileImg)}" class="rounded"
                     th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
                <img th:if="${!#strings.isEmpty(account.profileImg)}" class="rounded"
                     th:src="${profile.profileImage}"
                     width="125" height="125" alt="name" th:alt="${account.nickname}"/>
            </div>
            <div id="new-profile-image" class="mt-3"></div>
            <div class="card-body">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="profile-image-file">
                    <label class="custom-file-label" for="profile-image-file">프로필 이미지 변경</label>
                </div>
                <div id="new-profile-image-control" class="mt-3">
                    <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                    <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                    <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                </div>
                <div id="cropped-new-profile-image" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>
</div>
</html>