<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="text-center">
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        <a class="alert-link" th:href="@{/recheck-email}">이메일 인증</a>을 해야 서비스를 이용하실 수 있습니다.
    </div>
    <h1 th:if="${account == null}"><a href="/sign-up">회원가입</a></h1>
    <a th:if="${account != null && !account.emailVerified}" th:href="@{'/check-email-token?token=${account.token}&email=${account.email}}">이메일 인증</a>
</div>
<div class="container">
    <footer th:replace="fragments.html :: footer"></footer>
</div>
</body>
</html>