<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<style>
    .tagify__tag-text{
        font-family:Russo one;
    }

</style>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div th:replace="fragments.html :: studyBanner"></div>
<div class="container">
    <div th:replace="fragments.html :: studyInfo"></div>
    <div th:replace="fragments.html :: study-menu(studyMenu='settings')"></div>
    <div class="row pt-4 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: study-settings(currentMenu = 'tags')"></div>
        </div>
        <div class="col-8 justify-content-center">
            <h2>관련 주제어 입력</h2>
            <div class="alert alert-primary" role="alert">
                관심주제를 입력하세요.
            </div>
            <div id="whitelist" th:text="${whitelist}" hidden></div>
            <input type="text" class="tagify-outside" id="tags" name="tags" th:value="${#strings.listJoin(studyTags, ',')}"
                   aria-describedby="tagsHelp">
        </div>
    </div>
    <footer th:replace="fragments.html :: footer"></footer>
</div>
<script th:replace="fragments.html :: tag-ajax(baseUrl='/study/'+ ${study.path} + '/settings/tags')"></script>
</body>
</html>